<div style="padding-left: 200px;">
  <form action="/admin/add-curosel" method="post" enctype="multipart/form-data">
  <div class="mt-3">
    <h1 style="text-decoration: underline;">Add carousel</h1>
    <label for="" class="form-label">image:</label>
    <input type="file" name="image" class="form-control" id="exampleInputPassword1" style="width: 35rem;">
  </div>
  <div class="mt-3">


    <input type="text" placeholder="Title" name="title" class="form-control" id="exampleInputPassword1"
      style="width: 35rem;">
  </div>
  <div class="mt-3">


    <input type="text" placeholder="Description" name="Description" class="form-control" id="exampleInputPassword1"
      style="width: 35rem;">
  </div>
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>