<div class="text-center py-3 bg-green-200">
  <div class="">
    <main class="">
      <h1>Stock Report</h1>
    </main>

      

<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="text-align: center;">Sl No</th>
                <th>Product</th>
                <th>Stock</th>
                <th>Sold QTY</th>
                
            </tr>
        </thead>
        
        <tbody>
           {{#each stockReport}}
            <tr>
                <td style="text-align: center;"> {{@index}} </td>
                <td>{{this._id}}</td>
                <td>{{this.productVariants.productQuantity}}</td>
                <td>{{this.totalQty}}</td>
            </tr>
            {{/each}}
          
        </tbody>
    </table>
     <script>
        $('#example').DataTable();
     </script>