{{!-- <a>http://localhost:3000/{{referel}}</h1> --}}
<a href="http://localhost:3000/signup?{{referel}}">clickhere</a>

<form action="/multerprofile" method="post" enctype="multipart/form-data">
  <input type="file" name="avatar" multiple />
  <button type="submit">submit</button>
</form>