
<div class="container mt-3 mb-5 d-flex justify-content-center">
  <div class="signup__form" style="width: 550px;">
    <div class="row">
      <div class="col px-auto">
        <h6 class="coupon__code text-center fs-4">FORGOT PASSWORD?</h6>
        <form action="/getRestlink" id="forgetPassForm" method="post" class="mb-5">
          <div class="row px-lg-5">
              
            {{#if  forgotEmailErr}}
              <p class="alert alert-danger text-center">{{forgotEmailErr}}</p>
            {{/if}}
            <div class="col text-center">
              <div class="signup__input">
                <p>Email<span>*</span></p>
                <input
                  type="email"
                  id="email"
                  name="email"
                />
              </div>
            </div>

            <div class="text-center">
              <button
                type="submit"
                class="btn btn-secondary req_otp_btn"
              >Reguest Reset link</button>
              <p class="signup__links"><a href="/signup">Don't Have an
                  Account?</a></p>
                 
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
  //   FILTER INPUT FIELDS
function setInputFilter(textbox, inputFilter) {
  [
    "input",
    "keydown",
    "keyup",
    "mousedown",
    "mouseup",
    "select",
    "contextmenu",
    "drop",
  ].forEach(function (event) {
    textbox.addEventListener(event, function () {
      if (inputFilter(this.value)) {
        this.oldValue = this.value;
        this.oldSelectionStart = this.selectionStart;
        this.oldSelectionEnd = this.selectionEnd;
      } else if (this.hasOwnProperty("oldValue")) {
        this.value = this.oldValue;
        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
      } else {
        this.value = "";
      }
    });
  });
} 

