<section class="shopping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center centered">
        <div class="card" style="border-radius: 30px; box-shadow: 5px 5px 15px;">
          <div class="card-header " style="border-radius: 30px 30px 0px 0px;">
               <i class="fas fa-exclamation-triangle text-warning" style="font-size: 90px;"></i>
          </div>
          <div class="card-body" style="border-radius: 0px 0px 30px 30px; background: rgb(128, 224, 128);">
            <h2 class="card-title my-5"> Sorry, An Error Occurred While Payment</h2>
            <p class="card-text text-center">TRY AGAIN</p>
            <a href="/my-orders" class="btn btn-light text-dark ms-4 mb-4">Go To Cart</a>
            <a href="/" class="btn btn-light btn-rounded text-dark mb-4">Continue Shopping</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>