<div class="container mt-3 mb-5 d-flex justify-content-center">
  <div class="signup__form" style="width: 550px;">
    <div class="row">
      <div class="col px-auto">
        <h6 class="coupon__code text-center fs-4">RESET PASSWORD</h6>
        <form action="/reset-pass" method="post" id="resetPassForm">

          <div class="px-md-5 text-center">
            <div class="signup__input">
              <p>New Password<span>*</span></p>
              <input type="password" name="newPass" id="newPassword" />
            </div>
          </div>
          <div class="px-md-5 text-center">
            <div class="signup__input">
              <p>Retype New Password<span>*</span></p>
              <input type="password" name="retryNewPass" />
            </div>
          </div>
          <input class="m-2 text-center form-control rounded" type="text" id="phonenumber2" name="phonenumber" value="{{OtpPhone}}" hidden />
          <div class="px-md-3">

            <div class="text-center">
                <p style="font-size: 10px;">By continuing, you agree to Kiddie’s Terms of Use and Privacy Policy.</p>
              <button
                type="submit"
                class="btn btn-success create_account_btn mt-3"
              >Reset Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>

    <!-- JS Validator -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"
    ></script>

    <!-- form submission file -->
    <script src="/javascripts/validator.js"> </script>

<script>

  // Check whether password and retype password is equal in reset password page

var resetPassForm = $("#resetPassForm");
resetPassForm.validate({
  rules: {
    newPass: {
      required: true,
      minlength: 5,
    },
    retryNewPass: {
      minlength: 5,
      equalTo: "#newPassword",
    },
  },
});



$(document).ready(function () {
  $("#retryNewPass").on("keyup", function () {
    var password = $("#newPass").val();
    var confirmPassword = $("#retryNewPass").val();
    if (password != confirmPassword)
      $("#CheckPasswordMatch")
        .html("Password does not match !")
        .css("color", "red");
    else
      $("#CheckPasswordMatch").html("Password match !").css("color", "green");
  });
});

</script>